<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="timer" value="60"/>
    <add key="DevServerType" value="7"/>
    <add key="LicenseServer" value="192.168.10.103:30000"/>
    <add key="DevServerNode" value=""/>
    <add key="DevServer" value="192.168.10.103"/>
    <add key="DevDBUser" value="sa"/>
    <add key="DevDBPassword" value="Sap2015"/>
    <add key="DevSBOUser" value="mana4"/>
    <add key="DevSBOPassword" value="4321"/>
    <add key="DevDatabase" value="EC_PRUEBAS"/>
	<add key="RutaFC" value="C:\Users\David Macias\Documents\ECUADOR\ProyectoServicioXMLRecepcion\FUNCIONES LEER XML\FC\"/>
	<add key="RutaNC" value="C:\Users\David Macias\Documents\ECUADOR\ProyectoServicioXMLRecepcion\FUNCIONES LEER XML\NC\"/>
	<add key="RutaRT" value="C:\Users\David Macias\Documents\ECUADOR\ProyectoServicioXMLRecepcion\FUNCIONES LEER XML\RT\"/>
	<add key="RutaProFC" value="C:\Users\David Macias\Documents\ECUADOR\ProyectoServicioXMLRecepcion\XMLMOVIDOS\FC\"/>
	<add key="RutaProNC" value="C:\Users\David Macias\Documents\ECUADOR\ProyectoServicioXMLRecepcion\XMLMOVIDOS\NC\"/>
	<add key="RutaProRT" value="C:\Users\David Macias\Documents\ECUADOR\ProyectoServicioXMLRecepcion\XMLMOVIDOS\RT\"/>	  
    <add key="OnlyOne" value="true"/>
    <add key="Tipo_Pch_Sap" value="EXXIS"/>
    <add key="UseTrusted" value="false"/>
    <add key="RangodeRegistrosEmision" value="100"/>
    <add key="RangodeRegistrosSincronizacion" value="50"/>
    <add key="URL_SG" value="https://api.sendgrid.com/v3/mail/send"/>
    <add key="APIKEY_SG" value="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"/>
    <add key="CORREOASUNTO_SG" value="ALERTAS PROCESADOR CARVALLOTEX"/>
    <add key="CORREOFROM_SG" value="alertasSolsap@solsap360.com"/>
    <add key="CORREOTO_SG" value="soporte@solsap360.com"/>
    <add key="MAXDOC_ALERTA" value="1000"/>
    <add key="GuardaLog" value="1"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
