<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Entidades.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <Entidades.My.MySettings>
            <setting name="Entidades_wsEDoc_NotaDeCredito_WSEDOC_NOTAS_CREDITO" serializeAs="String">
                <value>http://www.gurusoft-lab.com/WS_EDOC_NUBE/WSEDOCNUBE_NOTAS_CREDITO.svc</value>
            </setting>
            <setting name="Entidades_wsEDoc_NotaDeDebito_WSEDOC_NOTAS_DEBITO" serializeAs="String">
                <value>http://www.gurusoft-lab.com/WS_EDOC_NUBE/WSEDOCNUBE_NOTAS_DEBITO.svc</value>
            </setting>
            <setting name="Entidades_wsEDoc_GuiaRemision_WSEDOC_GUIAS_REMISION" serializeAs="String">
                <value>http://www.gurusoft-lab.com/WS_EDOC_NUBE/WSEDOCNUBE_GUIAS_REMISION.svc</value>
            </setting>
            <setting name="Entidades_wsEDoc_Retencion_WSEDOC_RETENCIONES" serializeAs="String">
                <value>http://www.gurusoft-lab.com/WS_EDOC_NUBE/WSEDOCNUBE_RETENCIONES.svc</value>
            </setting>
            <setting name="Entidades_wsEDoc_Consulta_WSEDOC_CONSULTA" serializeAs="String">
                <value>https://labec.guru-soft.com/eDocEcuador/WSEDOC_RECEPCION/WSRAD_KEY_CONSULTA.svc</value>
            </setting>
            <setting name="Entidades_wsEDoc_ConsultaEmision_WSEDOCNUBE_CONSULTA" serializeAs="String">
                <value>http://www.gurusoft-lab.com/WS_EDOC_NUBE/WSEDOCNUBE_CONSULTA.svc</value>
            </setting>
            <setting name="Entidades_wsEDoc_ReEnvioMail_WSEDOC_ENVIARMAIL" serializeAs="String">
                <value>https://labec.guru-soft.com/eDocEcuador/WSEDOC_REENVIO/WSEDOC_ENVIARMAIL.svc</value>
            </setting>
            <setting name="Entidades_wsEDoc_ConsultaRecepcionCambiaEstado_WSRAD_KEY_CAMBIARESTADO" serializeAs="String">
                <value>http://gurusoft-lab.com/eDocEcuador/WSEDOC_RECEPCION/WSRAD_KEY_CAMBIARESTADO.svc</value>
            </setting>
            <setting name="Entidades_wsEDoc_ConsultaRecepcionArchivo_WSRAD_KEY_ARCHIVO" serializeAs="String">
                <value>http://gurusoft-lab.com/eDocEcuador/WSEDOC_RECEPCION/WSRAD_KEY_ARCHIVO.svc</value>
            </setting>
            <setting name="Entidades_wsEDoc_Factura_WSEDOC_FACTURAS" serializeAs="String">
                <value>http://www.gurusoft-lab.com/WS_EDOC_NUBE/WSEDOCNUBE_FACTURAS.svc</value>
            </setting>
            <setting name="Entidades_wsEDoc_ConsultaEmision_LOCAL_WSEDOC_CONSULTA" serializeAs="String">
                <value>http://www.gurusoft-lab.com/WS_EDOC/WSEDOC_CONSULTA.svc</value>
            </setting>
            <setting name="Entidades_wsEDoc_GuiaRemision_LOCAL_WSEDOC_GUIAS_REMISION" serializeAs="String">
                <value>https://labec.guru-soft.com/eDocEcuador/4.3/WSEDOC/WSEDOC_GUIAS_REMISION.svc</value>
            </setting>
            <setting name="Entidades_wsEDoc_NotaDeCredito_LOCAL_WSEDOC_NOTAS_CREDITO" serializeAs="String">
                <value>https://labec.guru-soft.com/eDocEcuador/4.3/WSEDOC/WSEDOC_NOTAS_CREDITO.svc</value>
            </setting>
            <setting name="Entidades_wsEDoc_NotaDeDebito_LOCAL_WSEDOC_NOTAS_DEBITO" serializeAs="String">
                <value>https://labec.guru-soft.com/eDocEcuador/4.3/WSEDOC/WSEDOC_NOTAS_DEBITO.svc</value>
            </setting>
            <setting name="Entidades_wsEDoc_Retencion_LOCAL_WSEDOC_RETENCIONES" serializeAs="String">
                <value>https://labec.guru-soft.com/eDocEcuador/4.3/WSEDOC/WSEDOC_RETENCIONES.svc</value>
            </setting>
            <setting name="Entidades_wsEDoc_Factura_LOCAL_WSEDOC_FACTURAS" serializeAs="String">
                <value>https://labec.guru-soft.com/eDocEcuador/4.3/WSEDOC/WSEDOC_FACTURAS.svc</value>
            </setting>
            <setting name="Entidades_ws_eDoc_FacturaNUBE_4_1_WSEDOC_FACTURAS" serializeAs="String">
                <value>http://gurusoft-lab.com/eDocEcuador4.1/WsEdoc_Emision/WSEDOC_FACTURAS.svc</value>
            </setting>
            <setting name="Entidades_wsEDoc_Factura_NUBE_4_1_WSEDOC_FACTURAS" serializeAs="String">
                <value>http://gurusoft-lab.com/eDocEcuador4.1/WsEdoc_Emision/WSEDOC_FACTURAS.svc</value>
            </setting>
            <setting name="Entidades_wsEDoc_FacturaNube41_WSEDOC_FACTURAS" serializeAs="String">
                <value>http://gurusoft-lab.com/eDocEcuador4.1/WsEdoc_Emision/WSEDOC_FACTURAS.svc</value>
            </setting>
            <setting name="Entidades_wsEDoc_Factura41_WSEDOC_FACTURAS" serializeAs="String">
                <value>https://labec.guru-soft.com/eDocEcuador/4.3/Nube/WSEDOC/WSEDOCNUBE_FACTURAS.svc</value>
            </setting>
            <setting name="Entidades_wsEDoc_GuiaRemision41_WSEDOC_GUIAS_REMISION" serializeAs="String">
                <value>https://labec.guru-soft.com/eDocEcuador/4.3/Nube/WSEDOC/WSEDOCNUBE_GUIAS_REMISION.svc</value>
            </setting>
            <setting name="Entidades_wsEDoc_NotaDeCredito41_WSEDOC_NOTAS_CREDITO" serializeAs="String">
                <value>https://labec.guru-soft.com/eDocEcuador/4.3/Nube/WSEDOC/WSEDOCNUBE_NOTAS_CREDITO.svc</value>
            </setting>
            <setting name="Entidades_wsEDoc_Retencion41_WSEDOC_RETENCIONES" serializeAs="String">
                <value>https://labec.guru-soft.com/eDocEcuador/4.3/Nube/WSEDOC/WSEDOCNUBE_RETENCIONES.svc</value>
            </setting>
            <setting name="Entidades_wsEDoc_LiquidacionCompra_WSEDOCNUBE_LIQUIDACIONES_COMPRA" serializeAs="String">
                <value>https://labec.guru-soft.com/eDocEcuador/4.3/Nube/WSEDOC/WSEDOCNUBE_LIQUIDACIONES_COMPRA.svc</value>
            </setting>
            <setting name="Entidades_WSEDOCNUBE_FACTURAS_v4_3_WSEDOCNUBE_FACTURAS" serializeAs="String">
                <value>http://gurusoft-lab.com/eDocEcuador/4.3/Nube/WSEDOC/WSEDOCNUBE_FACTURAS.svc</value>
            </setting>
            <setting name="Entidades_WSEDOCNUBE_NOTAS_CREDITO_v4_3_WSEDOCNUBE_NOTAS_CREDITO" serializeAs="String">
                <value>http://gurusoft-lab.com/eDocEcuador/4.3/Nube/WSEDOC/WSEDOCNUBE_NOTAS_CREDITO.svc</value>
            </setting>
            <setting name="Entidades_WSEDOCNUBE_NOTAS_DEBITO_v4_3_WSEDOCNUBE_NOTAS_DEBITO" serializeAs="String">
                <value>http://gurusoft-lab.com/eDocEcuador/4.3/Nube/WSEDOC/WSEDOCNUBE_NOTAS_DEBITO.svc</value>
            </setting>
            <setting name="Entidades_WSEDOCNUBE_RETENCIONES_v4_3_WSEDOCNUBE_RETENCIONES" serializeAs="String">
                <value>http://gurusoft-lab.com/eDocEcuador/4.3/Nube/WSEDOC/WSEDOCNUBE_RETENCIONES.svc</value>
            </setting>
            <setting name="Entidades_WSEDOCNUBE_CONSULTA_v4_3_WSEDOCNUBE_CONSULTA" serializeAs="String">
                <value>https://labec.guru-soft.com/eDocEcuador/4.3/Nube/WSEDOC/WSEDOCNUBE_CONSULTA.svc</value>
            </setting>
            <setting name="Entidades_WSEDOCNUBE_GUIAS_REMISION_v4_3_WSEDOCNUBE_GUIAS_REMISION" serializeAs="String">
                <value>http://gurusoft-lab.com/eDocEcuador/4.3/Nube/WSEDOC/WSEDOCNUBE_GUIAS_REMISION.svc</value>
            </setting>
            <setting name="Entidades_WSRAD_KEY_CONSULTA4_3_WSRAD_KEY_CONSULTA" serializeAs="String">
                <value>https://gurusoft-lab.com/eDocEcuador/SSL/WSEDOC_RECEPCION/WSRAD_KEY_CONSULTA.svc</value>
            </setting>
            <setting name="Entidades_wsSS_LICENCIA_SAP_Licencia" serializeAs="String">
                <value>https://labcr.guru-soft.com/eDocCR/Sitios_Solsap/WS_LICENCIA_SAP/Licencia.svc</value>
            </setting>
            <setting name="Entidades_WSEDOC_LIQUIDACIONES_COMPRA_WSEDOC_LIQUIDACIONES_COMPRA" serializeAs="String">
                <value>https://labec.guru-soft.com/eDocEcuador/4.3/WSEDOC/WSEDOC_LIQUIDACIONES_COMPRA.svc</value>
            </setting>
            <setting name="Entidades_wsEDoc_NotaDebito41_WSEDOCNUBE_NOTAS_DEBITO" serializeAs="String">
                <value>https://labec.guru-soft.com/eDocEcuador/4.3/Nube/WSEDOC/WSEDOCNUBE_NOTAS_DEBITO.svc</value>
            </setting>
        </Entidades.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
