<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="ServicioGeneradorPagos_Atcotrans.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<add key="timer" value="60"/>
		<add key="DevServerType" value="15"/>
		<add key="LicenseServer" value="LAPTOP-DI544Q05:40000"/>
		<add key="DevServerNode" value=""/>
		<add key="DevServer" value="LAPTOP-DI544Q05"/>
		<add key="DevDBUser" value="sa"/>
		<add key="DevDBPassword" value="Sap2015"/>
		<add key="DevSBOUser" value="mana2"/>
		<add key="DevSBOPassword" value="4321"/>
		<add key="DevDatabase" value="EC_PRUEBAS"/>
		<add key="OnlyOne" value="true"/>
		<add key="NombreProveedor" value="EXXIS"/>
		<add key="UseTrusted" value="false"/>
		<add key="GuardaLog" value="1"/>
		<add key="SAP_VERSION" value="10"/>
		<add key="TotalHilosGP" value="1"/>
		
		<add key="WsRecepcion" value="https://labec.guru-soft.com/eDocEcuador/WSEDOC_RECEPCION/WSRAD_KEY_CONSULTA.svc"/>
		<add key="WsCambiarEstado" value="https://labec.guru-soft.com/eDocEcuador/WSEDOC_RECEPCION/WSRAD_KEY_CAMBIARESTADO.svc"/>
		<add key="Estados" value=""/>
		<add key="ClaveRecepcion" value="XcjWY6C4qz76JXVNDawyClx7mC2p97Qj"/>

		<add key="WsLicencia" value="https://labcr.guru-soft.com/eDocCR/Sitios_Solsap/WS_LICENCIA_SAP/Licencia.svc"/>
		<add key="RucCompañia" value="0992737964001"/>
		<add key="TipoWsLicencia" value="PRUEBAS"/>
		
		<add key="SalidaProxy" value="N"/>
		<add key="ProxyPuerto" value=""/>
		<add key="ProxyIp" value=""/>
		<add key="ProxyUsuario" value=""/>
		<add key="ProxyClave" value=""/>

		<add key="CampoNumRetencion" value=""/>
		<add key="FechaEmisionRetencion" value="Y"/>
		<add key="FechaEmisionRetencionP" value=""/>

		<add key="RutaLogProcesados" value="C:\Users\David Macias\Documents\PRUEBAS_LOG_GP\CONTABILIZADOS\"/>
		<add key="RutaLogNOProcesados" value="C:\Users\David Macias\Documents\PRUEBAS_LOG_GP\NO CONTABILIZADOS\"/>

		<add key="CantDiasLab" value=""/>
		<add key="CantUltmsDia" value=""/>

		<add key="ContabilizaSaldoPendienteMenor" value="SI"/>
		<add key="CuentaSaldoFavor" value="20109010100"/>
		<add key="IdSeriePR" value="104"/>
		
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
 <applicationSettings>
  <ServicioGeneradorPagos_Atcotrans.My.MySettings>
   <setting name="ServicioGeneradorPagos_WS_LICENCIA_Licencia" serializeAs="String">
    <value>https://labcr.guru-soft.com/eDocCR/Sitios_Solsap/WS_LICENCIA_SAP/Licencia.svc</value>
   </setting>
   <setting name="ServicioGeneradorPagos_CONSULTA_WSRAD_KEY_CONSULTA"
    serializeAs="String">
    <value>https://labec.guru-soft.com/eDocEcuador/WSEDOC_RECEPCION/WSRAD_KEY_CONSULTA.svc</value>
   </setting>
  </ServicioGeneradorPagos_Atcotrans.My.MySettings>
 </applicationSettings>
</configuration>
